#!/usr/bin/env zsh
set -e

if [ ! -f venv-ansible-beats/bin/activate ]
then
	echo "Creating a virtual Python environment"
	python3 -m venv venv-ansible-beats >/dev/null
fi

if [ -f venv-ansible-beats/bin/activate ]
then
	echo "Activating the Python virtual environment"
	. venv-ansible-beats/bin/activate
fi

if [ -f venv-ansible-beats/bin/pip3 ]
then
	echo "Installing Python requirements"
	venv-ansible-beats/bin/pip3 install --upgrade pip 1> /dev/null
	venv-ansible-beats/bin/pip3 install -r requirements.txt 1> /dev/null
fi

export ANSIBLE_ROLES_PATH=roles
export ANSIBLE_COLLECTIONS_PATH=collections
export ANSIBLE_HASH_BEHAVIOUR=merge
